.coin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1{
  font-weight: 900;
  font-size: 56px;
}
.rank-btn{
  font-size: 26px;

}
.info .coin-heading{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.coin-heading img{
  width: 50px;
}
thead tr{
  display: flex;
gap: 3.1rem;
margin-bottom: 1rem;
}
th{
font-size: 18px;
font-weight: 600;
}
tbody tr{
  font-size: 16px;
  display: flex;
gap: 2rem;
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row{
  margin-bottom: 2rem;
}
.row h4{
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.left{
  gap: 2rem;
  display: flex;
}
.about{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
}
.about h3{
  font-size: 32px;
}
.about p{
  font-size: 16px;
 width: 800px;
 line-height: 2rem;
}